:root {
    --verde: #00FF01;
}

* {
    background-color: black;
    color: aliceblue;
}


#select-productos,
form>input {
    color: var(--verde);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-color: blue;
    border-radius: 2rem;
    width: 15rem;
    height: 2rem;
    cursor: pointer;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}

form>input:hover {
    background: blue;
}

button {
    height: 2.5rem;
    width: 10rem;
    text-align: center;
    padding: 10px;
    color: var(--verde);
    border-color: blue;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
}

#select-productos:hover,
button:hover {
    background: blue;
    color: var(--verde);
}

#botones,
#usuario {
    text-align: center;
}

option {
    align-items: center;
    color: var(--verde);
    background-color: black;
    cursor: pointer;
}

footer {
    position: sticky;
    bottom: 0;
}

input::-webkit-input-placeholder,
input:active {
    color: var(--verde);
}


.swal2-container.swal2-center>.swal2-popup {
    color: var(--verde);
    background-color: black;
    border: inset blue;
    border-radius: 50px;
}

.swal2-icon.swal2-success .swal2-success-ring {
    background-color: transparent;
}

.swal2-icon.swal2-error {
    border-color: black;
}

.swal2-title {
    max-width: 50%;
    place-self: center;
}